<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sport">
            <h2><span jhiTranslate="coachappApp.sport.detail.title">Sport</span> {{sport.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coachappApp.sport.name">Name</span></dt>
                <dd>
                    <span>{{sport.name}}</span>
                </dd>
                <dt><span jhiTranslate="coachappApp.sport.description">Description</span></dt>
                <dd>
                    <span>{{sport.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sport', sport.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
