<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-movement-category-heading" jhiTranslate="coachappApp.movementCategory.home.createOrEditLabel">Create or edit a Movement Category</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!movementCategory.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="movementCategory.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachappApp.movementCategory.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="movementCategory.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachappApp.movementCategory.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="movementCategory.description" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coachappApp.movementCategory.sport" for="field_sport">Sport</label>
                    <select class="form-control" id="field_sport" name="sport" [(ngModel)]="movementCategory.sport"  required>
                        <option *ngIf="!editForm.value.sport" [ngValue]="null" selected></option>
                        <option [ngValue]="sportOption.id === movementCategory.sport?.id ? movementCategory.sport : sportOption" *ngFor="let sportOption of sports; trackBy: trackSportById">{{sportOption.name}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.sport?.dirty && editForm.controls.sport?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.sport?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
